{%- liquid
  assign blog_handles = 'tin-tuc,nhan,day-chuyen,khuyen,vong-tay,bac,trang-suc,da,kinh,qua,phu-kien,collab' | split: ','
  assign featured_tag = 'featured'
  
  # Tìm bài viết nổi bật
  assign featured_article = nil
  for handle in blog_handles
    assign b = blogs[handle]
    for a in b.articles
      if a.tags contains featured_tag
        assign featured_article = a
        break
      endif
    endfor
    if featured_article
      break
    endif
  endfor
  
  if featured_article == nil
    assign featured_article = blogs['tin-tuc'].articles | first
  endif
-%}

<div class="helios-blog-wrapper">
  
  <header class="blog-page-header">
    <h1 class="blog-page-header__title">{{ blog.title | default: 'JOURNAL' }}</h1>
    <nav class="blog-page-header__nav">
      {%- liquid
        assign nav_handles = 'tin-tuc,nhan,day-chuyen,vong-tay,bac,da,kinh' | split: ','
      -%}
      {% for handle in nav_handles %}
        <a href="{{ blogs[handle].url }}" class="blog-page-header__link {% if blog.handle == handle %}is-active{% endif %}">
          {{ blogs[handle].title }}
        </a>
      {% endfor %}
    </nav>
  </header>

  <div class="helios-banner-stack">
    {%- liquid
      assign all_articles = blogs['tin-tuc'].articles | concat: blogs['nhan'].articles | concat: blogs['day-chuyen'].articles
      # Sắp xếp theo ngày xuất bản giảm dần
      assign all_articles = all_articles | sort: 'published_at' | reverse
    -%}
    
    {% for article in all_articles limit: 12 %}
      {% render 'blog-card', article: article %}
    {% endfor %}
  </div>

  <div class="banner-stack__footer" style="padding: 100px 0; text-align: center;">
    <p style="font-size: 11px; letter-spacing: 0.3em; opacity: 0.5;">END OF JOURNAL</p>
  </div>
</div>

{% render 'blog-styles-helper' %}


